body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: color #f4f4f4;
}

.lovebox{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;

}
input{
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button{
    padding: 8px 16px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #e73370;
}

#lovepercent{
    font-size:50px;
    margin-top:20px;
    color: #ff4081;
}